body {
    padding-top: 60px;
    background-color: #fff; 
    font-family: "Arial","Microsoft YaHei","黑体",'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.list-group a {
	border: none;
	border-bottom: 2px solid #ddd;
}
.list-group a:last-child {
	border-bottom: none;
}
.weikeList > div {
	
}
.weikeCell {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px 15px;
}
.weikeCell p {
	text-align: right;
}
.weikeCell .thumbnail {
	margin: 0;
}
.content {
	color: #888;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: '';
}

.clearfix:after {
	clear: both;
}

a {
	outline: none;
	text-decoration: none;
}

button:focus {
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
.footerAddcom {
	bottom: 0;
	border-width: 0 0 1px;
	position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    box-sizing: border-box;
}
.addWindow {
    display: none;
    background-color: #fff;
    border: 1px solid #222;
    position: fixed;
    top: 200px;
    left: 100px;
    width: 550px;
    padding: 10px 30px 20px;
    border-radius: 6px;
    z-index: 10;
}
.addButton {
    text-align: center;
    margin: 30px 0;
    padding: 0;
    background-color: #286090;
    height: 40px;
    width: 40px;
}
.uploadButton {
    width: 100%;
}
.form-horizontal {
    margin-bottom: 0;
}
#uploadFile {
    display: none;
}
.uplaodFile_f {
    margin-bottom: 15px;
}
.uplaodFile_f:focus {
    background-color: #fff;
    border-color: #ccc;
    outline: none;
}
.imgPreview {
    height: 0;
    width: 0;
}
.hidebg {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #000;
    width: 100%;
    filter: alpha(opacity=60);
    opacity: 0.6;
    z-Index: 2;
    display: none;
}

.closeButton {
    margin: 0 0 10px;
    cursor: default;
}

.search-form {
    width: 575px;
    margin-bottom: 30px;
    overflow: hidden;
}
.search-bd {
     height: 25px;
 }
.search-bd ul {
    padding-left: 0;
}
.search-bd li {
    font-size: 12px;
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    float: left;
    cursor: pointer;
    background-color: #eee;
    color: #666;
}
.search-bd li.selected {
    color: #fff;
    font-weight: 700;
    background-color: #286090;
}
.search-hd {
    height: 40px;
    background-color: #286090;
    padding: 3px;
    position: relative;
}
.search-bg,
.search-input {
    width: 465px;
    height: 34px;
    position: absolute;
    left: 3px;
    top: 3px;
}
.search-bg {
    background-color: #fff;
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 1;
}
.search-input {
    line-height: 22px;
    padding: 6px 0;
    background: none;
    text-indent: 10px;
    border: 0;
    outline: none;
    z-index: 5;
}
.search-hd .btn-search {
    width: 70px;
    height: 34px;
    line-height:34px;
    position: absolute;
    right: 3px;
    top: 3px;
    border: 0;
    z-index: 6;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    background: none;
    outline: none;
}
.search-hd #s2,
.search-hd #s3 {
    display: none;
}