
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index</h2>

<form action ="../MyFile/Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="FileUpload1" /><br />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
</form>
