@{
    ViewBag.Title = "PersonalPageFollows";
    Layout = "~/Views/Shared/WeikePersonalPageLayout.cshtml";
}

<ol class="breadcrumb personalPageNav" data-spy="affix" data-offset-top="230">
    <li><a href="../PersonalPage/PersonalPageWeike">微课</a></li>
    <li><a href="../PersonalPage/PersonalPageLikes">赞过的微课</a></li>
    <li class="active">关注的人</li>
    <span></span>
    <button class="btn btn-primary" onclick="window.location.href = '../Publish/Publish?from=PersonalPage/PersonalPageWeike'">+<span>发布微课</span></button>
</ol>

<div class="personalPageContent">

    <div class="personalPageContentItem followList">
        <div class="media">
            <div class="media-left">
                <img src="../resource/img/portrait.jpg" class=" img-circle">
            </div>
            <div class="media-body">
                <div>
                    <div>
                        <span><b>用户名</b></span>
                        <span>邮箱：************@@qq.com</span>
                    </div>
                    <div></div>
                    <div>
                        <button class="btn btn-primary">加关注</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <img src="../resource/img/portrait.jpg" class=" img-circle">
            </div>
            <div class="media-body">
                <div>
                    <div>
                        <span><b>用户名</b></span>
                        <span>邮箱：************@@qq.com</span>
                    </div>
                    <div></div>
                    <div>
                        <button class="btn btn-primary">加关注</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <img src="../resource/img/portrait.jpg" class=" img-circle">
            </div>
            <div class="media-body">
                <div>
                    <div>
                        <span><b>用户名</b></span>
                        <span>邮箱：************@@qq.com</span>
                    </div>
                    <div></div>
                    <div>
                        <button class="btn btn-primary">加关注</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

