
@{
    ViewBag.Title = "PersonalPageLikes";
    Layout = "~/Views/Shared/WeikePersonalPageLayout.cshtml";
}

<ol class="breadcrumb personalPageNav" data-spy="affix" data-offset-top="230">
    <li><a href="../PersonalPage/PersonalPageWeike">微课</a></li>
    <li class="active">赞过的微课</li>
    <li><a href="../PersonalPage/PersonalPageFollows">关注的人</a></li>
    <span></span>
    <button class="btn btn-primary" onclick="window.location.href='../Publish'">+<span>发布微课</span></button>
</ol>

<div class="personalPageContent">

    <div class="personalPageContentItem" id="100">

        <div class="media">
            <div class="media-left">
                <img src="../resource/img/portrait.jpg" class="img-circle">
            </div>
            <div class="media-body">
                <p><b>用户名</b></p>
                <p>2016-06-16 英语</p>
                <h3>英语写作小技巧</h3>
                <p>英语写作有很多小技巧，有些技巧能使你的文章更有条理，有些能使文章更生动</p>
                <div class="thumbnail">
                    <img src="../resource/img/8.jpg">
                </div>
            </div>
        </div>
        <div class="personalPageContentItemBotmBar">
            <a onclick="showCommentDiv(this)">评论 <span>1</span></a>
            <span>|</span>
            <a onclick="likeWeike(this)">点赞 <span>2</span></a>
        </div>
    </div>

    <div class="personalPageContentItem" id="100">

        <div class="media">
            <div class="media-left">
                <img src="../resource/img/portrait.jpg" class="img-circle">
            </div>
            <div class="media-body">
                <p><b>用户名</b></p>
                <p>2016-06-16 英语</p>
                <h3>英语写作小技巧</h3>
                <p>英语写作有很多小技巧，有些技巧能使你的文章更有条理，有些能使文章更生动</p>
                <div class="thumbnail">
                    <img src="../resource/img/8.jpg">
                </div>
            </div>
        </div>
        <div class="personalPageContentItemBotmBar">
            <a onclick="showCommentDiv(this)">评论 <span>1</span></a>
            <span>|</span>
            <a onclick="likeWeike(this)">点赞 <span>2</span></a>
        </div>
    </div>

    <div class="personalPageContentItem" id="100">

        <div class="media">
            <div class="media-left">
                <img src="../resource/img/portrait.jpg" class="img-circle">
            </div>
            <div class="media-body">
                <p><b>用户名</b></p>
                <p>2016-06-16 英语</p>
                <h3>英语写作小技巧</h3>
                <p>英语写作有很多小技巧，有些技巧能使你的文章更有条理，有些能使文章更生动</p>
                <div class="thumbnail">
                    <img src="../resource/img/8.jpg">
                </div>
            </div>
        </div>
        <div class="personalPageContentItemBotmBar">
            <a onclick="showCommentDiv(this)">评论 <span>1</span></a>
            <span>|</span>
            <a onclick="likeWeike(this)">点赞 <span>2</span></a>
        </div>
    </div>

</div>


<script type="text/javascript" src="../Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../Scripts/bootstrap.min.js"></script>
<script>
        var showCommentDiv = function(t) {

            var weikeId = $(t).parent().parent().attr('id');
            // get weike Comment list

            // for example
            // required info
            var commentList = [
                {
                    'id': 101,
                    'user': {
                        'name':'用户名1',
                        'imgSrc': '../resource/img/8.jpg'
                    },
                    'time': '2016-6-17 13:50',
                    'content': '评论内容评论内容评论内容评论内容评论内容评论内容评论内容',
                    'commentList': [
                        {
                            'id': 102,
                            'user': {
                                'name':'用户名2',
                                'imgSrc': '../resource/img/8.jpg'
                            },
                            'time': '2016-6-17 13:50',
                            'content': '评论内容评论内容评论内容评论内容评论内容评论内容评论内容',
                            'commentList': [
                                {
                                    'id': 103,
                                    'user': {
                                        'name':'用户名3',
                                        'imgSrc': '../resource/img/8.jpg'
                                    },
                                    'time': '2016-6-17 13:50',
                                    'content': '评论内容评论内容评论内容评论内容评论内容评论内容评论内容',
                                    'commentList': []
                                }
                            ]
                        }
                    ]
                },
                {
                    'id': 102,
                    'user': {
                        'name':'用户名2',
                        'imgSrc': '../resource/img/8.jpg'
                    },
                    'time': '2016-6-17 13:50',
                    'content': '评论内容评论内容评论内容评论内容评论内容评论内容评论内容',
                    'commentList': []
                },
                {
                    'id': 103,
                    'user': {
                        'name':'用户名3',
                        'imgSrc': '../resource/img/8.jpg'
                    },
                    'time': '2016-6-17 13:50',
                    'content': '评论内容评论内容评论内容评论内容评论内容评论内容评论内容',
                    'commentList': []
                }

            ];

            $(t).parent().parent().append(
                '<div class="personalPageContentItemComment">' +
                    '<div></div>' +
                    '<div class="weikeCellComment input-group">' +
                        '<input type="text" class="form-control" placeholder="我来评论">' +
                        '<span class="input-group-btn">' +
                            '<button class="btn btn-default" type="button" onclick="makeComment2weike(this)">评论</button>' +
                        '</span>' +
                    '</div>' +

                    '<ul class="media-list weikeCellCommentList">' +
                    '</ul>' +
                '</div>');

            var commentListDivNode = $(t).parent().next().children('.weikeCellCommentList');
            initCommentDiv(commentList, commentListDivNode);

            commentListDivNode.append('<a onclick="hideCommentListDiv(this)"><span class="glyphicon glyphicon-chevron-up"></span></a>');

        }

        var initCommentDiv = function(commentList, parentNode) {
            for (var index in commentList) {
                parentNode.append(initCommentTemplate(commentList[index]));

                if (commentList[index].commentList.length > 0) {
                    initCommentDiv(commentList[index].commentList, parentNode.children('#'+ commentList[index].id + ':last-child').children('.media-body'));
                }
                console.log(index + ' ' + commentList[index].user.name + ' ' + commentList[index].commentList.length );
            }
        }

        var initCommentTemplate = function(comment) {
            return '<li class="media" id="' + comment.id + '">' +
                        '<div class="media-left">' +
                        '<a href="#">' +
                            '<img class="media-object" src="' + comment.user.imgSrc + '">' +
                        '</a>' +
                        '</div>' +
                        '<div class="media-body">' +
                            '<h5 class="media-heading">' + comment.user.name + ' <small>' + comment.time + '</small></h5>' +
                            '<h6>' + comment.content + '</h6>' +
                            '<div class="weikeCellCommentReply">' +
                                '<a onclick="showCommentInput(this)">回复</a>' +
                            '</div>' +
                        '</div>' +
                    '</li>'
        }

        var likeWeike = function(t) {
            var weikeId = $(t).parent().parent().attr('id');

            // post like action

            $(t).children('span').text(parseInt($(t).children('span').text()) + 1);
            $(t).css('color', 'white');
            $(t).attr('onclick', '');

        }

        var hideCommentListDiv = function(t) {
            $(t).parent().parent().remove();
        }

        var makeComment2weike = function(t) {

            var content = $(t).parent().prev().val();

            // post comment
            // if success, return the new comment
            var time = new Date();
            var data = {
                'comment' : {
                    'id': 103,
                    'user': {
                        'name':'用户名3',
                        'imgSrc': '../resource/img/8.jpg'
                    },
                    'time': time.getFullYear() + '-' + (time.getMonth()+1) + '-' + time.getDate() + ' ' + time.getHours() + ':' + time.getMinutes(),
                    'content': content,
                    'commentList': []
                }
            }

            var comment = data.comment;
            $(t).parent().prev().val('');
            $(t).parents('.weikeCellComment').next().children('a').before(initCommentTemplate(comment));

        }

        var showCommentInput = function(t) {
            $(t).parent().after(
                '<div class="weikeCellComment input-group">' +
                    '<input type="text" class="form-control" placeholder="我来评论">' +
                    '<span class="input-group-btn">' +
                        '<button class="btn btn-default" type="button" onclick="makeComment2comment(this)">评论</button>' +
                        '<button class="btn btn-default" type="button" onclick="hideComment2comment(this)">取消</button>' +
                    '</span>' +
                '</div>');
        }
        var makeComment2comment = function(t) {
            var commentId = $($(t).parents('.media')[0]).attr('id');
            var content = $(t).parent().prev().val();


            // post comment
            // if success, return the new comment
            var time = new Date();
            var data = {
                'comment' : {
                    'id': 103,
                    'user': {
                        'name':'用户名3',
                        'imgSrc': '../resource/img/8.jpg'
                    },
                    'time': time.getYear() + '-' + time.getMonth() + '-' + time.getDay() + ' ' + time.getHours() + ':' + time.getMinutes(),
                    'content': content,
                    'commentList': []
                }
            }

            var comment = data.comment;
            $(t).parent().prev().val('');
            $($(t).parents('.media-body')[0]).append(initCommentTemplate(comment));
            hideComment2comment(t);

        }
        var hideComment2comment = function(t) {
            $(t).parents('.weikeCellComment').remove();

        }

</script>